h1 {
    font-weight: normal;
}

.content {
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    font-style: italic;
    margin-bottom: 2rem;
}

.description {
    text-align: center;
    margin: 0 3rem;
    padding: 2rem;
    background-color: var(--tertiary);
    border-radius: 1rem;
    margin-bottom: 10rem;
}

.description a {
    font-weight: bold;
    text-decoration: underline;
}