{% extends 'base.html' %}

{% block stylesheets %}
  {% load static %}
  <link rel="stylesheet" type='text/css' href="{% static 'css/core/index.css' %}">
{% endblock %}

{% block title %}
  Home
{% endblock %}

{% block content %}
<div class='content'>
  <h1 class='title'>Welcome to <strong>Moosify!</strong></h1>
  <p class='description'>Right now, Moosify is in closed Beta, and access is given by the developer alone. If you were given an account, proceed to <a href="{% url 'core:login' %}">login</a> or request an account by DMing @echoing.void on discord.</p>
</div>
{% endblock %}
