{% extends "base.html" %}

{% block stylsheets %}
  {% load static %}
  {% comment %} <link rel="stylesheet" href="{% static 'css/account/index.css' %}"> {% endcomment %}
{% endblock stylsheets %}

{% block title %}
  Account
{% endblock title %}

{% block content %}
  <h1>Account</h1>
  <p>@{{ user.username }}</p>
  <p>{{ user.first_name }}</p>
  <p>{{ user.last_name }}</p>
  <p>{{ user.email }}</p>
  <a href="{% url 'account:edit' %}">Edit Account</a>
  <a href="{% url 'account:password' %}">Change Password</a>
{% endblock content %}