{% extends 'base.html' %}

{% block stylesheets %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/download/index.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock stylesheets %}

{% block title %}
  Download
{% endblock %}

{% block content %}
  <div class='content'>
    <h1 class='title'>Download tracks</h1>
    <form action="{% url 'download:download' %}" method="get" id='download-form'>
      <input type="text" name="url" placeholder="Paste Spotify link..." id='download' />
      <button type="submit" value="" id='download-submit' class='fa-solid fa-download'></button>
    </form>
    
    <h2 class='header'>Downloads</h2>
    
    <div class='tracks'>
      {% for track in tracks %}
      <div class='song'>
        <img src="{{ track.1.cover_art_url }}" style="width: 150px;" class='cover-art' />
        <h3><a href="{{ track.0.spotify_url }}" target="_blank">{{ track.1 }}</a></h3>
        <form action="{% url 'download:download' %}">
          <input type="hidden" name="url" value="{{ track.1.url }}" />
          <button type="submit" class='fa-solid fa-download track-download'>&nbsp;Download</button>
        </form>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
    